<%= form_with(model: solution, local: true) do |form| %>
  <% fields.each do |k| %>
    <div class="field">
      <span><%= k %><span>
      <%= form.text_field k, id: k, :required => true %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.button "Fill In", name: "mad_lib_id", value: solution.mad_lib_id %>
  </div>
<% end %>
